{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="{%static 'homepage/css/utils.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'homepage/css/main.css' %}">

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{%static 'homepage/img/294.jpg'%}');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Account register
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                     <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        <table class="wrap-input100 validate-input" style="background-color: #F0EAD6">
                            {% for field in user_form %}
                            <tr>
                                <td>
                                     <br>{{ field.label_tag }}
                                </td>
                                <td>
                                    <center>{{ field }}</center>
                                </td>
                            </tr>
                            {% endfor %}
                
                            {% for field in profile_form %}
                            <tr>
                                <td>
                                    <br>{{ field.label_tag }}
                                </td>
                                <td>
                                    <center>{{ field }}</center>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    <!--    
                        <input class="input100" type="text" name="username" placeholder="User name">
                        
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>-->
					</div> 

					<div class="container-login100-form-btn m-t-32">
						<button class="btn_2">
							Register
						</button>
					</div>

				</form>
                <!-- <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="transbox">
                        <table class="table table-hover table-responsive" style="background-color: #F0EAD6">
                            {% for field in user_form %}
                            <tr>
                                <td>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ field.label_tag }}
                                </td>
                                <td>
                                    <center>{{ field }}</center>
                                </td>
                            </tr>
                            {% endfor %}
                
                            {% for field in profile_form %}
                            <tr>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ field.label_tag }}
                                </td>
                                <td>
                                    <center>{{ field }}</center>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    <div style="background-color: #F0EAD6">
                        <center><button style="color: blue" type="submit">SignUp</button></center><br>
                    </div>
                    </div>
                </form> -->
                            </div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	

</body>
</html>