
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="{%static 'homepage/css/sytle3.css' %}" rel="stylesheet" type="text/css" media="all" />


</head>

<body>
	
	<div class="main-w3layouts wrapper">
		
		<div class="main-agileinfo">
			<div class="agileits-top">
                <form class="site-form" action="{% url 'madmin:meddealer_update' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="upd" value="{{ doc.mid }}">
                    firstname 
                    <input type="text" name="name" value="{{ doc.firstname }}" placeholder="">
                    lastname
                    <input type="text" name="name2" value="{{ doc.lastname }}" placeholder="">
                    phone_num
                    <input type="text" name="name3" value="{{ doc.phone_num }}" placeholder="">
                    address
                    <input type="text" name="name4" value="{{ doc.address }}" placeholder="">
                   
                    
                    
                    
					<br>
					
					<input type="submit" value="SUBMIT">
				</form>
				
			</div>
		</div>

	
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </div>
    
    {% block content %}
{% endblock %}

</body>
</html>