
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="{%static 'homepage/css/sytle3.css' %}" rel="stylesheet" type="text/css" media="all" />


</head>

<body>
	
	<div class="main-w3layouts wrapper">
		<h1>Login</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
                <form class="site-form" action="{% url 'newtest' %}" method="post">
                    {% csrf_token %}
                    
                    Test Name
                    <input type="text" name="name" value="" placeholder="">
                    About test
                    <input type="text" name="name2" value="" placeholder="">
                    Cost
                    <input type="text" name="name3" value="" placeholder="">
                    
                    
					<br>
					
					<input type="submit" value="SUBMIT">
				</form>
				
			</div>
		</div>

	
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </div>
    
    {% block content %}
{% endblock %}

</body>
</html>