
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>



<link href="{%static 'homepage/css/sytle3.css' %}" rel="stylesheet" type="text/css" media="all" />


</head>

<body>
	
	<div class="main-w3layouts wrapper">
		
		<div class="main-agileinfo">
			<div class="agileits-top">
                <form class="site-form" action="updLA" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="upd" value="{{ test.lappid }}">
                    Test Name
                    <input type="text" name="name" value="{{ test.test_id.test_name }}" disabled>
                    Lab Name
                    <input type="text" name="name2" value="{{ test.lab_name.lab_name }}" disabled>
                    PAtient
                    <input type="text" name="name3" value="{{ test.user_name.firstname }}" disabled>
                    Date
                    <input type="date" name="name4" value="{{ test.date }}" placeholder="">
                    <br>
                    Time
                    <input type="time" name="name5" value="{{ test.time }}" placeholder="">
                    
					<br>
					
					<input type="submit" value="SUBMIT">
				</form>
				
			</div>
		</div>

	
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </div>
    
    {% block content %}
{% endblock %}

</body>
</html>